header{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
.about{
    background-color: rgb(41, 41, 56);
    padding: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.about img{
    border-radius: 50px;

}
.aboutbody{
     margin-left: 50px;
     color: antiquewhite;
     font-size: x-large;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluid{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
    padding-bottom: 45px;
}
.container-fluid img{
    border-radius: 20px;
    padding: 10px;
}
.container-fluid text{
    padding-left: 45px;
}