header{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
.about{
    background-color: rgb(41, 41, 56);
    padding: 45px;
    display: flex;
    align-items: center;
    
}
.about img{
    border-radius: 50px;
    width: fit-content;
    padding: 10px;

}
.aboutbody{
     margin-top: 70px;
    margin-left: 50px;
     color: antiquewhite;
     font-size: x-large;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     align-items: center;
}
.container-fluid{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
  
}
.container-fluid img{
    border-radius: 20px;
    padding: 10px;
}

